.paginator{
background:#11577a url(http://3.bp.blogspot.com/-ZhWi5eBXZuE/Ub9BUk-pHyI/AAAAAAAAEdU/xonnIj7Q4Ww/s1600/paginator2.png)repeat-x;height:32px;padding:6px 15px; 0 15px}
.total{
font-size:100%;
text-shadow: -1px -1px rgba(0,0,0,0.3);
}
.total a{
font-size:12px;
color:#e7f0f6;
}
.total a:hover{
font-size:12px;
color:#fff;
text-decoration:none;
}
#topic_page .topic .body {
font-size:100%;
}
#category_list .meta, #topic_list .topic_replies {
font-size:100%;
}